<div id="about">
    <div class="standard-container">
        <h2>
            Bozich Construction believes our clients
            <br aria-hidden>
            deserve the best that the industry has to offer
        </h2>
        <p>Since 1996, Bozich Construction has set the standard for "building only the finest in custom homes". Mike Bozich founded our company in a time when excellence in residential construction was lacking. Over the last 25 years, Mike Bozich and Kenny LeMay have worked tirelessly to establish and maintain quality relationships with our subcontractors and constant attentiveness to our clients. We are now sought out for our expertise, well-known reputation, quality workmanship, and loyalty to our clients. Our legacy is unmatched by our competitors as a result of the commitment we make to our clients. We believe our clients deserve the best that the industry has to offer. With a client-centric mindset and our dedication to exceptional quality, we strive to deliver an effortless home building process from start to finish.</p>
    </div>
</div>