<footer>
    <div id="footer-menu">
        <ul>
            <li>
                <h4>Call</h4>
                <a href="tel:+1{{ site.phone }}">{{ site.phone }}</a>
            </li>
            <li>
                <h4>Email</h4>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            <li>
                <h4>Office</h4>
                <span>{{ site.address }}</span>
            </li>
            <li>
                <h4>Instagram</h4>
                <a href="https://www.instagram.com/{{ site.instagram_username }}/">{{ site.instagram_username }}</a>
            </li>
            <li>
                <h4>Inventory</h4>
                <a href="{{ site.inventory }}">{{ site.inventory }}</a>
            </li>
        </ul>
    </div>
</footer>