<div id="portfolio">
    <div class="standard-container">
        <h2>
            We build custom homes for the saint louis
            <br aria-hidden>
            area and beyond
        </h2>
        <p>Take a look at our recent work below and get in touch with us to talk about your dream home. We look forward to working with you to make your home exactly what you want while building a relationship along the way. [Add other functional info here like references available upon request, about the process, etc.]</p>
    </div>
    <div class="slider">
        [ Slider to come ]
    </div>
</div>